<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>za.co.bakery.listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://192.168.128.104:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>user_name</param-name>
        <param-value>teamuser</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>teamuser</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>mrspatbakerydb</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>sslsec</param-name>
        <param-value>?useSSL=false</param-value>
    </context-param>
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>za.co.bakery.controllers.PatCakeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pcontrol</servlet-name>
        <servlet-class>za.co.bakery.controllers.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pcontrol</servlet-name>
        <url-pattern>/pcontrol</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>acontrol</servlet-name>
        <servlet-class>za.co.bakery.controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>acontrol</servlet-name>
        <url-pattern>/acontrol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
